<h1>Hello, Rails!</h1>

<ul>
    <% @affirmations.each do |affirmation|%>
        <li>
            <a href="/affirmations/<%= affirmation.id%>">
                <%= affirmation.text%>
            </a>
        </li>
    <% end %>
</ul>
