<h1>Affirmationen für Junior-Entwickler:innen</h1>

<ul>
    <% @affirmations.each do |affirmation|%>
        <li>
            <%= link_to affirmation.text, affirmation%>
        </li>
    <% end %>
</ul>

<%= link_to "Neue Affirmation anlegen", new_affirmation_path %>