<h1>Detailansicht</h1>

<h2><%= @affirmation.text %></h2>

<ul>
    <li>
        <%= link_to "Zurück zur Übersicht", "/affirmations" %>
    </li>
    <li>
        <%= link_to "Affirmation überarbeiten", edit_affirmation_path(@affirmation) %>
    </li>
    <li><%= link_to "Affirmation löschen", affirmation_path(@affirmation), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Möchtest Du den Eintrag wirklich löschen?"
                  } %></li>
</ul>