<h1 class="font-bold text-4xl">Detailansicht</h1>

<p class="px-4 py-6 mt-6 rounded-xl bg-blue-dark"><%= @affirmation.text %></p>

<ul>
    <li>
        <%= link_to "Zurück zur Übersicht", "/affirmations" %>
    </li>
    <li>
        <%= link_to "Affirmation überarbeiten", edit_affirmation_path(@affirmation) %>
    </li>
    <li><%= link_to "Affirmation löschen", affirmation_path(@affirmation), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Möchtest Du den Eintrag wirklich löschen?"
                  } %></li>
</ul>