@layer base {
  :root {
    --color-blue-dark: "#22577A";
    --color-blue-medium: "#38A3A5";
    --color-green-dark: "#57CC99";
    --color-green-medium: "#80ED99";
    --color-green-light: "#C7F9CC";
  }
  html {
    color: white;
  }
}
a:hover {
  text-decoration: underline;
}
textarea {
  color: black;
}
